<h2>The Scrum Framework</h2>

<p>
Scrum is an iterative and incremental Agile software development framework for managing software projects and product or application development. Its focus is on "a flexible, holistic product development strategy where a development team works as a unit to reach a common goal" as opposed to a "traditional, sequential approach". Scrum enables the creation of self-organizing teams by encouraging co-location of all team members, and verbal communication among all team members and disciplines in the project.
A key principle of Scrum is its recognition that during a project the customers can change their minds about what they want and need (often called requirements churn), and that unpredicted challenges cannot be easily addressed in a traditional predictive or planned manner. As such, Scrum adopts an empirical approach - accepting that the problem cannot be fully understood or defined, focusing instead on maximizing the team's ability to deliver quickly and respond to emerging requirements.
</p>

<h2>The Scrum Team </h2>
<p>
The Scrum Team consists of a Product Owner, the Development Team, and a Scrum Master.
Scrum Teams are self-organizing and cross-functional. Self-organizing teams choose how best to
accomplish their work, rather than being directed by others outside the team. Cross-functional
teams have all competencies needed to accomplish the work without depending on others not
part of the team. The team model in Scrum is designed to optimize flexibility, creativity, and
productivity.
</p>
<h3>The Product Owner</h3>
<p>
The Product Owner is responsible for maximizing the value of the product and the work of the
Development Team. How this is done may vary widely across organizations, Scrum Teams, and
individuals.
</p>
<h3>The Development Team</h3>
<p>
The Development Team consists of professionals who do the work of delivering a potentially
releasable Increment of “Done” product at the end of each Sprint. Only members of the
Development Team create the Increment.
</p>
<h3>The Scrum Master</h3>
<p>
The Scrum Master is responsible for ensuring Scrum is understood and enacted. Scrum Masters
do this by ensuring that the Scrum Team adheres to Scrum theory, practices, and rules.
</p>

<h2>Scrum Events</h2>

<p>
Prescribed events are used in Scrum to create regularity and to minimize the need for meetings
not defined in Scrum. All events are time-boxed events, such that every event has a maximum
duration. Once a Sprint begins, its duration is fixed and cannot be shortened or lengthened. The
remaining events may end whenever the purpose of the event is achieved, ensuring an
appropriate amount of time is spent without allowing waste in the process.

</p>

<h3> The Sprint</h3>

<p>
The heart of Scrum is a Sprint, a time-box of one month or less during which a “Done”, useable,
and potentially releasable product Increment is created. Sprints best have consistent durations
throughout a development effort. A new Sprint starts immediately after the conclusion of the
previous Sprint.
</p>

<h3>Daily Scrum</h3>

<p>
The Daily Scrum is a 15-minute time-boxed event for the Development Team to synchronize
activities and create a plan for the next 24 hours. This is done by inspecting the work since the
last Daily Scrum and forecasting the work that could be done before the next one. The Daily
Scrum is held at the same time and place each day to reduce complexity.
</p>

<h3>Sprint Review</h3>

<p>
A Sprint Review is held at the end of the Sprint to inspect the Increment and adapt the Product
Backlog if needed. During the Sprint Review, the Scrum Team and stakeholders collaborate
about what was done in the Sprint. Based on that and any changes to the Product Backlog
during the Sprint, attendees collaborate on the next things that could be done to optimize value.
This is an informal meeting, not a status meeting, and the presentation of the Increment is
intended to elicit feedback and foster collaboration.
</p>

<h3>Sprint Retrospective</h3>

<p>
The Sprint Retrospective is an opportunity for the Scrum Team to inspect itself and create a plan
for improvements to be enacted during the next Sprint. © 1991-2013 Ken Schwaber and Jeff Sutherland, All Rights Reserved Page | 12
The Sprint Retrospective occurs after the Sprint Review and prior to the next Sprint Planning.
This is a three-hour time-boxed meeting for one-month Sprints. For shorter Sprints, the event is
usually shorter. The Scrum Master ensures that the event takes place and that attendants
understand its purpose. The Scrum Master teaches all to keep it within the time-box. The Scrum
Master participates as a peer team member in the meeting from the accountability over the
Scrum process.
</p>

<h2>Scrum Artifacts</h2>

<p>
Scrum's artifacts represent work or value to provide transparency and opportunities for
inspection and adaptation. Artifacts defined by Scrum are specifically designed to maximize
transparency of key information so that everybody has the same understanding of the artifact.
</p>

<h3>Product Backlog</h3>

<p>
The Product Backlog is an ordered list of everything that might be needed in the product and is
the single source of requirements for any changes to be made to the product. The Product
Owner is responsible for the Product Backlog, including its content, availability, and ordering.
</p>

<h3>Sprint Backlog</h3>

<p>
The Sprint Backlog is the set of Product Backlog items selected for the Sprint, plus a plan for
delivering the product Increment and realizing the Sprint Goal. The Sprint Backlog is a forecast
by the Development Team about what functionality will be in the next Increment and the work
needed to deliver that functionality into a “Done” Increment.
</p>
