 <h2>Scrum Visual Aid</h2>

    <p><img alt="Scrum Process" class="auto-style1"
src="/images/rubinint_fig01.jpg" /></p>

    <p>Ref: <a href="
http://www.informit.com/store/essential-scrum-a-practical-guide-to-the-most-popular-9780137043293">Essential
Scrum: A Practical Guide to the Most Popular Agile Process</a></p>
